$remove-btn-bg:red;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text-red {
    color: red;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 15px;
}

.create-todo-ui form {
    display: flex;
    margin: 30px 0;
    input {
        flex: 1;
    }
    select, button {
        margin-left: 5px;
    }
}

$todo-border: 1px solid #ccc;

.todo-list-ui {
    border: $todo-border;
    border-radius: 3px;
    margin: 30px 0;
}

.todo-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: $todo-border;
    // 選到最後一個.todo-item
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: #fafafa;
    }
}

.todo-category{
    padding: 2px 6px;
    color: #fff;
    border-radius: 5px;
    background: gray;
}

.tag-gold{
    background-color: gold;
}

.tag-tomato{
    background-color: tomato;
}
.todo-item{
    position: relative;
    transition: all 0.5s ease;
        overflow: hidden;
        cursor: pointer;
    &:hover{
        padding-left: 50px;
        
    }
    
    &:hover .remove-btn{
        left: 15px;
        
    }
}
.remove-btn{
    background: $remove-btn-bg;
    color: #fff;
    border: none;
    transition: .3s;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    position: absolute;
    left: -50px;
    &:hover{
        background:darken($remove-btn-bg,20%);
        cursor: pointer;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0 8px rgba($remove-btn-bg, .3);
    }
}


// ..todo-item:hover
// .todo-item:last-child {}