
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text-red {
    color: red;
}

.container {
    max-width: 600px;
    margin: 50px 0;
    padding: 0 15px;
}

.create-todo-ui form {
    display: flex;
    margin: 30px 0;
    input {
        flex: 1;
    }
    select, button {
        margin-left: 5px;
    }
}

$todo-border: 1px solid #ccc;

.todo-list-ui {
    border: $todo-border;
    border-radius: 3px;
    margin: 30px 0;
}

.todo-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: $todo-border;
    // 選到最後一個.todo-item
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: #fafafa;
    }
}
// ..todo-item:hover
// .todo-item:last-child {}